
  ::-moz-selection {
    color: var(--_colors---base-0--100);
    background: var(--_colors---base-1000--100);
  }

  ::selection {
    color: var(--_colors---base-0--100);
    background: var(--_colors---base-1000--100);
  }
