
  /** -------------------------------------------------
   * MASKS
   * ------------------------------------------------- */

  .modal.menu, .modal.media, .preloader_c {
      -webkit-mask-image: linear-gradient(180deg, #FFF 50%, rgba(255, 255, 255, 0.99) 55.89%, rgba(255, 255, 255, 0.97) 60.69%, rgba(255, 255, 255, 0.93) 64.56%, rgba(255, 255, 255, 0.88) 67.67%, rgba(255, 255, 255, 0.82) 70.19%, rgba(255, 255, 255, 0.75) 72.28%, rgba(255, 255, 255, 0.67) 74.12%, rgba(255, 255, 255, 0.59) 75.88%, rgba(255, 255, 255, 0.50) 77.72%, rgba(255, 255, 255, 0.41) 79.81%, rgba(255, 255, 255, 0.33) 82.33%, rgba(255, 255, 255, 0.24) 85.44%, rgba(255, 255, 255, 0.15) 89.31%, rgba(255, 255, 255, 0.07) 94.11%, rgba(255, 255, 255, 0.00) 100%);

      mask-image: linear-gradient(180deg, #FFF 50%, rgba(255, 255, 255, 0.99) 55.89%, rgba(255, 255, 255, 0.97) 60.69%, rgba(255, 255, 255, 0.93) 64.56%, rgba(255, 255, 255, 0.88) 67.67%, rgba(255, 255, 255, 0.82) 70.19%, rgba(255, 255, 255, 0.75) 72.28%, rgba(255, 255, 255, 0.67) 74.12%, rgba(255, 255, 255, 0.59) 75.88%, rgba(255, 255, 255, 0.50) 77.72%, rgba(255, 255, 255, 0.41) 79.81%, rgba(255, 255, 255, 0.33) 82.33%, rgba(255, 255, 255, 0.24) 85.44%, rgba(255, 255, 255, 0.15) 89.31%, rgba(255, 255, 255, 0.07) 94.11%, rgba(255, 255, 255, 0.00) 100%);

      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;

      --mask-x: 0%;
      --mask-y: 0%;
      --mask-size: 100% 200%;

      -webkit-mask-position: var(--mask-x) var(--mask-y);
      mask-position: var(--mask-x) var(--mask-y);

      -webkit-mask-size: var(--mask-size);
      mask-size: var(--mask-size);
  }

  .fin-s_title_marquee {
      -webkit-mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #FFF 15%, #FFF 85%, rgba(255, 255, 255, 0.00) 100%);
      mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #FFF 15%, #FFF 85%, rgba(255, 255, 255, 0.00) 100%);
  }
