
  [data-prevent-flicker='true'] {
    visibility: hidden;
  }

  [data-master-preloader] {
    display: block;
  }

  [data-preloader] {
    display: block;
  }

  @media screen and (orientation: landscape) and (max-width: 991px) and (pointer: coarse) and (hover: none) {
    .landscape-cover {
      display: block;
    }

    body {
      overflow: hidden;
    }
  }

  .unset-all{
     all: unset;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
